<!-- title card -->
<div class="sdk-card">
  <div class="sdk-card-title">
    Study Guides
  </div>
  <div class="sdk-card-desc">
    View, Edit, and Create New Study Guides
  </div>
</div>

<!--content card -->
<div class="sdk-card">
  <!-- grid -->
  <p-dataTable id="userDtList" [value]="studyGuides" [lazy]="true" [rows]="10" [paginator]="true" (onLazyLoad)="lazyLoadUsers($event)">
    <p-header>
      <div class="ui-helper-clearfix" style="width:100%">
        <button id="userBtnAdd" type="button" pButton icon="fa-plus" style="float:right" [routerLink]="['/studyguide/add']" label="Add New Guide"></button>
      </div>
    </p-header>
    <p-column field="rowId" hidden="true" header="Id"></p-column>
    <p-column field="testName" header="Study Guide Name"></p-column> 
    <p-column field="createDate" header="Date Created">
      <ng-template let-col let-car="rowData" pTemplate="body">
        <span>{{car[col.field] | date:'MM/dd/yyyy' }}</span>
      </ng-template>
    </p-column>
    <p-column>
      <ng-template pTemplate="header">
        <div></div>
      </ng-template>
      <ng-template let-studyguide="rowData" pTemplate="body">
        <button id="userBtnEdit" type="button" pButton (click)="goToUserEditDetail(studyguide.rowId)" icon="fa-pencil"></button>
      </ng-template>
    </p-column>
  </p-dataTable>
</div>

<div id="userlistDivTotalRecords" style="display: none">
  {{totalRecords}}
</div>
